<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--- bootstrap --->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <!--- icons --->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!--- vue --->
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <!--- end --->
    <title>Grade</title>
    <style>
        .container {
            width: 80%;
            margin: auto;
        }

        .full {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        i {
            cursor: pointer;
        }

        i:hover {
            color: #2d8cf0;
        }

        th:hover {
            color: #2d8cf0;
            cursor: pointer;
        }

        .tip {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 20px;
        }

        .result {
            margin-left: 10px;
            color: #17233d;
        }

    </style>
</head>
<body>
<div class="container" id="vueApp">
    <div class="row full mt-2 mb-2">
        <div class="col-4">
            <div class="input-group">
                <input v-model="filter_string" @input="filterCourse()" type="text" class="form-control input-group-sm"
                       placeholder="Enter course name">
            </div>
        </div>
        <div class="switch">

            <button v-if="!fail_status" @click="filterFail" type="button" class="btn btn-light  pl-4 pr-4">Fail Grades
                <i class="fa fa-toggle-off"
                   aria-hidden="true"></i></button>
            <button v-if="fail_status" @click="filterFail" type="button" class="btn btn-success  pl-4 pr-4">Fail
                Grades <i class="fa fa-toggle-on"
                          aria-hidden="true"></i></button>
            <button v-if="!honor_status" @click="filterHonor" type="button" class="btn btn-light  pl-4 pr-4">Honor
                Grades
                <i class="fa fa-toggle-off"
                   aria-hidden="true"></i></button>
            <button v-if="honor_status" @click="filterHonor" type="button" class="btn btn-success  pl-4 pr-4">Honor
                Grades
                <i class="fa fa-toggle-on"
                   aria-hidden="true"></i></button>
            <button type="button" data-toggle="modal" data-target="#addModal" class="btn btn-primary pt-2 pl-4 pr-4"><i
                    class="fa fa-paper-plane ml-1 mr-1"></i>Add
            </button>
        </div>
    </div>
    <div class="row full">
        <div class="full">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th @click="courseSort">Course Name<i :class="'fa fa-chevron-'+current_sort" aria-hidden="true"></i>
                    </th>
                    <th @click="scoreSort">Grade<i :class="'fa fa-chevron-'+current_sort" aria-hidden="true"></i></th>
                    <th>Option</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(grade,index) in grade_data">
                    <td>{{grade.course_name}}</td>
                    <td>{{grade.score}}</td>
                    <td><a><i class="fa fa-edit mr-3" data-toggle="modal" @click="openEdit(grade.id)"
                              data-target="#editModal" aria-hidden="true"></i></a>
                        <a><i class="fa fa-trash" @click="deleteGrade(grade.id)" aria-hidden="true"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- add modal -->
    <div class="modal fade" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- modal header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add New Grade</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label>Course Name</label>
                        <input v-model="new_grade.course_name" type="text" class="form-control"
                               placeholder="Enter course name">
                    </div>
                    <div class="form-group">
                        <label>Score</label>
                        <input v-model="new_grade.score" type="text" class="form-control" placeholder="Enter score">
                    </div>
                    <div class="alert alert-danger" v-if="error">
                        {{error}}
                    </div>
                    <button @click="add_grade" class="btn btn-primary">Add</button>
                </div>
                <!-- modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- edit modal -->
    <div class="modal fade" id="editModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- modal header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add New Grade</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- modal body -->
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label>Course Name</label>
                            <input v-model="edit_grade.course_name" type="text" class="form-control"
                                   placeholder="Enter course name">
                        </div>
                        <div class="form-group">
                            <label>Score</label>
                            <input v-model="edit_grade.score" type="text" class="form-control"
                                   placeholder="Enter score">
                        </div>
                        <div class="alert alert-danger" v-if="error">
                            {{error}}
                        </div>
                        <button @click="edit" class="btn btn-primary">Update</button>
                    </div>
                </div>
                <!-- modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="tip"><span class="badge badge-pill badge-primary">Max:</span><span
                class="result"> {{ maxScore }}</span>
        </div>
        <div class="tip"><span class="badge badge-pill badge-success">Min:</span> <span
                class="result"> {{ minScore }}</span>
        </div>
        <div class="tip"><span class="badge badge-pill badge-info">Average:</span><span
                class="result"> {{ aveScore }}</span>
        </div>
    </div>
</div>
</body>
<script>
    let source_data = [
        {
            id: 1,
            course_name: "Math",
            score: 98
        },
        {
            id: 2,
            course_name: "English",
            score: 88
        }
    ];
    new Vue({
        el: "#vueApp",
        data: {
            grade_data: source_data,
            grade_data_copy: source_data.concat(),
            new_grade: {},
            edit_grade: {},
            filter_string: "",
            current_sort: "down",//down Descending， up Ascending
            error: "",
            honor_status: false,
            fail_status: false,
        },
        methods: {
            checkCourseExist: function (courseName) {
                for (let g of this.grade_data) {
                    if (courseName === g.course_name)
                        return true;
                }
                return false;
            },
            validateScore: function (score) {
                return (score > 100 || score < 0);
            },
            delete_item_from_arr: function (arr, item_id) {
                for (let i = 0; i < arr.length; i++) {
                    if (arr[i].id === parseInt(item_id)) {
                        arr.splice(i, 1);
                        break;
                    }

                }
            },
            add_grade: function () {
                this.error = "";
                let data = this.new_grade;
                let course_name = data.course_name;
                let score = data.score;
                //validate course exist
                if (this.checkCourseExist(course_name)) {
                    this.error = "Course already exist.";
                    return;
                }
                if (this.validateScore(score)) {
                    this.error = "Score range must in range(0,100)";
                    return;
                }
                let grade_data = {
                    "id": this.grade_data[this.grade_data.length - 1].id + 1,
                    "course_name": course_name,
                    "score": score,
                };
                this.grade_data.push(grade_data);
                this.grade_data_copy.push(grade_data);
                this.new_grade = {};
                $("#addModal").modal('hide');
            },
            openEdit: function (_id) {
                this.edit_grade = this.grade_data.filter(d => {
                    return d.id === parseInt(_id)
                })[0];
            },
            edit: function () {
                this.error = "";
                if (this.validateScore(this.edit_grade.score)) {
                    this.error = "Score range must in range(0,100)";
                    return;
                }
                $("#editModal").modal('hide');
            },
            deleteGrade: function (_id) {
                this.delete_item_from_arr(this.grade_data, _id);
                this.delete_item_from_arr(this.grade_data_copy, _id);
            },
            scoreSort: function () {
                if (this.current_sort === "down") {
                    this.grade_data.sort((x, y) => {
                        return x.score - y.score;
                    });
                    this.current_sort = "up";
                } else {
                    this.grade_data.sort((x, y) => {
                        return y.score - x.score;
                    });
                    this.current_sort = "down";
                }

            },
            courseSort: function () {
                if (this.current_sort === "down") {
                    this.grade_data.sort((x, y) => {
                        return x.course_name.localeCompare(y.course_name);
                    });
                    this.current_sort = "up";
                } else {
                    this.grade_data.sort((x, y) => {
                        return y.course_name.localeCompare(x.course_name);
                    });
                    this.current_sort = "down";
                }
            },
            filterCourse: function () {
                let key = this.filter_string;
                this.grade_data = this.grade_data_copy.filter(x => {
                    return x.course_name.search(key) !== -1
                })
            }, filterHonor: function () {
                if (!this.honor_status) {
                    this.grade_data = this.grade_data_copy.filter(x => {
                        return x.score >= 80;
                    });
                    this.honor_status = true;
                } else {
                    this.grade_data = this.grade_data_copy.concat();
                    this.honor_status = false;
                }
                if (this.honor_status)
                    this.fail_status = false;
            }, filterFail: function () {
                if (!this.fail_status) {
                    this.grade_data = this.grade_data_copy.filter(x => {
                        return x.score < 50;
                    });
                    this.fail_status = true;
                } else {
                    this.grade_data = this.grade_data_copy.concat();
                    this.fail_status = false;
                }
                if (this.fail_status)
                    this.honor_status = false;
            }
        },
        computed:
            {
                aveScore: function () {
                    let data = this.grade_data;
                    if (data.length > 0) {
                        let sum = 0;
                        let length = data.length;
                        for (let g of data)
                            sum += parseInt(g.score);
                        return parseInt(sum / length);
                    }
                    return 0;
                }
                ,
                maxScore: function () {
                    let data = this.grade_data;
                    let max = 0;
                    if (data.length > 0)
                        max = data[0].score;
                    for (let g of data)
                        if (g.score > max)
                            max = parseInt(g.score);
                    return max;
                }
                ,
                minScore: function () {
                    let data = this.grade_data;
                    let min = 0;
                    if (data.length > 0)
                        min = data[0].score;
                    for (let g of data)
                        if (g.score < min)
                            min = parseInt(g.score);
                    return min;
                }
            }
    })
    ;
</script>
</html>
